.works {
  h1 {
    font-family: RalewayBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
  }
  .work1 {
    background-color: #fff4f7;
    padding: 5rem;
    .left {
      padding-top: 2rem;
      h2 {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .right {
      img {
        width: 200px;
        height: 160px;
      }
    }
  }

  .work2 {
    background-color: #edf1f9;
    padding: 5rem;
    .left {
      margin-top: 3rem;
      h2 {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .right {
      img {
        width: 230px;
        height: 170px;
      }
    }
  }
  .work3 {
    background-color: #f2dae0;
    padding: 5rem;
    .left {
      margin-top: 3rem;
      h2 {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .right {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  .work4 {
    background-color: #abeeff;
    padding: 5rem;
    .left {
      margin-top: 3rem;
      h2 {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .right {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  .work5 {
    background-color: #fff681;
    padding: 5rem;
    .left {
      margin-top: 3rem;
      h2 {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .right {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  .work6 {
    background-color: #f3f1f2;
    padding: 5rem;
    .left {
      margin-top: 3rem;
      h2 {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-family: RalewayRegular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .right {
      img {
        width: 300px;
        height: 170px;
      }
    }
  }
}


@media only screen and (max-width: 500px) {
  .works {
    .work6 {
      .right{
      img {
       width: 100%;
        
      }
    }
  }
  }
}