.sidebar-width {
    width: 350px;
  }
  
  .sidebar {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: static;
    /* This is used to prevent sidebar width shriking  */
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  
  @media(max-width: 767px) {
    .sidebar {
      position: absolute;
      z-index: 200;
      background-color: #2C32BE;
  
      transition: width 0.5s;
    }
  
    .sidebar-width {
      width: 350px;
    }
  
    .sidebar-hidden {
      width: 0px;
    }
    
      
   
  }
  