.footer{
    .left{
        p{
                font-family: RalewayMedium;
                font-size: 18px;
                line-height: 152.6%;
                span {
                  font-family: RalewayBold;
                  font-size: 18px;
                  line-height: 152.6%;
                }
                a{
                    Font-family: RalewayBold;
                  font-size: 18px;
                  line-height: 152.6%;
                  text-decoration: underline;
                }
    }
}
}