@import 'bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: "RalewayBlack";
  src: url("./Fonts/Raleway-Black.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayBlackItalic";
  src: url("./Fonts/Raleway-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayBold";
  src: url("./Fonts/Raleway-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayBoldItalic";
  src: url("./Fonts/Raleway-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayExtraBold";
  src: url("./Fonts/Raleway-ExtraBold.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayExtraBoldItalic";
  src: url("./Fonts/Raleway-ExtraBoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayExtraLight";
  src: url("./Fonts/Raleway-ExtraLight.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayExtraLightItalic";
  src: url("./Fonts/Raleway-ExtraLightItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayItalic";
  src: url("./Fonts/Raleway-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayLight";
  src: url("./Fonts/Raleway-Light.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayLightItalic";
  src: url("./Fonts/Raleway-LightItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayMedium";
  src: url("./Fonts/Raleway-Medium.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayMediumItalic";
  src: url("./Fonts/Raleway-MediumItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayRegular";
  src: url("./Fonts/Raleway-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "RalewaySemiBold";
  src: url("./Fonts/Raleway-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: "RalewaySemiBoldItalic";
  src: url("./Fonts/Raleway-SemiBoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "RalewayThin";
  src: url("./Fonts/Raleway-Thin.ttf") format('truetype');
}

@font-face {
  font-family: "RalewayThinItalic";
  src: url("./Fonts/Raleway-ThinItalic.ttf") format('truetype');
}


* {
    box-sizing: border-box;
    font-size: small;
  }
  
  #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }